/* General Styles START */
*, *::before, *::after
{
    box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
}

html
{
    font-size: 100%;
}

body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a
{
    text-decoration: none;
}

.content-section
{
    margin: 1em;
}

.container
{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.btn
{
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    padding: 0.67em;
    font-weight: bold;
    outline: none;
}

.section-title
{
    font-weight: normal;
    text-align: center;
    font-size: 2.5em;
}
/* General Styles END */


/* Header Styles START */
.header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #800020; /* Burgundy */
}

.header-title
{
    font-size: 2em;
    font-style: italic;
    color: whitesmoke;
    margin-bottom: 0;
}

.header-links
{
    padding: 1rem;
}

.header-links a
{
    color: whitesmoke;
    font-size: 1.1em;
    padding: 0.5em;
    transition: color 350ms ease-in-out;
}

.header-links a:not(:last-child)
{
    margin-right: 1rem;
}

.header-links a:hover
{
    background-color: pink;
    color: black;
}

.fa-bars
{
    position: absolute;
    top: 1.75rem; /* Equivalent to 16px */
    right: 1rem; /* Equivalent to 16px */
    color: whitesmoke;
    cursor: pointer;
    display: none;
}
/* Header Styles END */


/* index.html Styles START */
.intro-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 100vh;
}

.cta-wrapper
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem;
}

.intro-title
{
  font-size: 2.5em;
  margin-bottom: 0.25em;
}

.subtitle
{
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: bold;
}

.btn-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list-btn, .about-btn
{
    font-size: 1.5em;
    transition: color 300ms ease-in-out;
    border-radius: 0.625rem; /* Equivalent to 10px */
}

.todo-list-btn
{
    margin-right: 0.5em;
    background-color: green;
    color: yellow;
    border: 3px solid red;
}

.todo-list-btn:hover
{
    background-color: rgb(20, 95, 20);
    color: fuchsia;
}

.about-btn
{
    background-color: black;
    color: white;
    border: 3px solid yellow;
}

.about-btn:hover
{
    background-color: rgb(97, 93, 93);
    color: black;
}
/* index.html Styles END */


/* about.html Styles START */
.about-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.name-and-pfp-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name
{
    font-weight: normal;
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 0.25em;
}

.pfp
{
    margin: 0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: red 0px 0px 20px;
}

.profile-text
{
    text-align: center;
    font-size: large;
    font-weight: 550;
    margin: 0;
}

.social-links-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-linkedin, .fa-github
{
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    color: white;
}

.fa-linkedin
{
    background: #007bb5;
    margin-right: 0.625rem;
}

.fa-github
{
    background: #050708;
}
/* about.html Styles END */


/* how-to-use.html Styles START */

/* how-to-use.html Styles END */


/* todo-list.html Styles START */
.todo-list-main-section-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.todo-list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.todo-list-header
{
    background-color: orange;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-list-header-title
{
    color: whitesmoke;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.todo-list-add-btn
{
    color: pink;
    background-color: purple;
    font-size: 1.2em;
    border: 0;
}

.todo-list-add-btn:hover
{
    background-color: rgb(94, 11, 94);
}


/* todo-list.html Styles END */


/* Media Styles START */
@media (max-width: 450px)
{
    /* Header Styles START */
    .header
    {
        align-items: flex-start;
    }

    .header-title
    {
        padding-left: 0.5rem;
    }

    .fa-bars
    {
        display: block;
    }

    .header-links
    {
        display: none;

    }

    .header-links a:not(:last-child)
    {
        margin-bottom: 0.5rem;
    }

    .active
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    /* Header Styles END */
}
/* Media Styles END */